{{#if isLoginPage}}
        <div class="home-link">
            <a href="/">На главную</a>
        </div>
    </div>
    
</body>
</html>

{{else}}
</div>
        <div></div>
        <footer>
          <h1>©maybelisa, 2023</h1>
        </footer>
    </body>
</html>
{{/if}}