{{#if isAdminPage}}
<h4>Добавить новое расписание</h4>
<div class="form-block">
    <form action="/addtrip" method="post">
    <label for="driver">Водитель:</label>
    <select id="driver" name="driver">
        <option value=""></option>
    </select><br><br>

    <label for="route">Маршрут:</label>
    <select id="route" name="route">
        <option value=""></option>
    </select><br><br>

    <label for="status">Статус:</label>
    <select id="status" name="status">
        <option value=""></option>
    </select><br><br>
    <input type="submit" value="Добавить маршрут">
    </form>
</div>

{{/if}}