{{#if isUserPage}}
<div class="center-block">
    <h1>Мои закладки</h1>
    <ul id="route-numbers">        
        {{#each marks}}
            <li>
                <a href="/user/route-stops/:number">
                     {{#each this}}
                         {{route}}
                    {{/each}}
                </a>
            </li>           
        {{/each}}
    </ul>

</div>
{{/if}}