{{#if isUserPage}}
<div class="center-block">
    <h1>Мои закладки</h1>
    <ul id="route-numbers">        
        {{#each marks}}
            {{#each this}}
                {{#if route}}
                    <li>
                        <a href="/user/route-stops/{{this.route}}">
                            {{route}}
                        </a>
                    </li>   
                {{/if}}
            {{/each}}        
        {{/each}}
    </ul>

</div>
{{/if}}