{{#if isAdminPage}}
<div class="routes-admin">
    <div class="form-block">
    <h4>Добавить новый маршрут</h4>
        <form action="/addroute" method="post">
            <label for="number">Номер:</label>
            <input type="text" id="number" name="number"><br><br>
            <label for="transport_type">Тип транспорта:</label>
            <select id="transport_type" name="transport_type">
                <option value="автобус">Автобус</option>
                <option value="троллейбус">Троллейбус</option>
                <option value="трамвай">Трамвай</option>
            </select><br><br>
            <input type="submit" value="Добавить маршрут">
        </form>
    </div>
</div>
{{/if}}