<h1>Расписание городского транспорта</h1>
    <p>Узнайте, как добраться до любой точки города на автобусе, троллейбусе или трамвае.</p><BR>
    <p>Подробное и актуальное расписание автобусов, троллейбусов и трамваев в городе. Мы детально анализируем все расписания, чтобы вы могли заранее узнать следует ли автобус по неполному маршруту, или в какое время он прибывает на каждую остановку по маршруту следования.</p><BR>
    <p>Выберите интересующий вас вид транспорта, номер маршрута и отслеживайте расписание.</p><BR>
    <p>Зарегистрируйтесь, чтобы сохранять любимые маршруты!</p>
