<h1>Вы не авторизованы!</h1>
<p>и не можете просматривать данный ресурс. Для продолжения <a href="/login">Авторизуйтесь</a></p>
<p>или <a href="/register">зарегестрируйтесь</a> </p>
<p>
    <a href="/">Домой</a>
</p>