<h1>Остановки на маршруте</h1>
<div class="days-nav">
    {{#if isUserPage}}
            <form action="/newbookmark/:number" method="POST"><button class="bookmark-button">Добавить в избранное</button></form>
            {{/if}}
</div>
           <div class="stop-list">
                <ul> 
                    {{#each stops}}
                        <li>
                            <a href="/schedule-weekday">
                                {{this}}
                            </a>
                        </li>
                    {{/each}}
                </ul>
           </div>