<h1>Остановки на маршруте</h1>
           <div class="stop-list">
            <a class="stop-list-item">Остановка 1</a>
            <a class="stop-list-item">Остановка 2</a>
            <a class="stop-list-item">Остановка 3</a>
            <a class="stop-list-item">Остановка 4</a>
            <a class="stop-list-item">Остановка 5</a>
            <a class="stop-list-item">Остановка 6</a>
            <a class="stop-list-item">Остановка 7</a>
            <a class="stop-list-item">Остановка 8</a>
           </div>