<h1>Остановки на маршруте</h1>
           <div class="stop-list">
                <ul> 
                    {{#each stops}}
                        <li>
                            <a href="">
                                {{this}}
                            </a>
                        </li>
                    {{/each}}
                </ul>
           </div>