 <h1>Расписание маршрута</h1>
          <div class="days-nav">
            <a href="/schedule-weekday"><button style="background-color: rgb(176, 175, 175);">Будние</button></a>
            <a href="/schedule-weekend"><button style="background-color: #0162a7">Выходные</button></a>
          </div>

          <div class="nav-table">
            <table>
              <tr>
                <th>7</th>
                <td>7:02</td>
              </tr>
            </table>
          </div>
          <div class="after-table-info">
            <p></p>
          </div>