<h1>Расписание маршрута на остановке</h1>
          <p>Следующий рейс:</p>
          <div class="days-nav">
            <a href="/schedule-weekday"><button style="background-color: #0162a7;">Будние</button></a>
            <a href="/schedule-weekend"><button style="background-color: rgb(176, 175, 175);">Выходные</button></a>
            <button class="bookmark-button">Добавить в избранное</button>
          </div>

          <div class="nav-table">
            <table>
              <tr>
                <th>5</th>
                <td>5:30</td>
              </tr>
            </table>
          </div>
          <div class="after-table-info">
            <p></p>
          </div>