@font-face {
    font-family: "Montserrat Alternates";
    src: url("fonts/MontserratAlternates-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Tenor Sans";
    src: url("fonts/TenorSans-Regular.woff") format("woff");
  }

body {
    margin: 0;
    padding: 0;
    font-family: "Tenor Sans";
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    font-size: larger;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

footer {
    background-color: #0162a7;
    color:#feb500;
    font-family: "Montserrat Alternates";
    font-size: x-small;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.header {
    background-color: #0162a7;
    color:#feb500;
    font-family: "Montserrat Alternates";
    font-size: large;
    position: fixed;
    top: 0;
    width: 100%;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: #feb500;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover {
    background-color: #3e9fb2;
}

.content {
    padding-top: 80px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.after-table-info {
    margin-bottom: 80px;
}

.days-nav button {
    border: none; /* Убираем границу */
    color: white; /* Белый текст */
    padding: 10px 24px; /* Отступы внутри кнопки */
    cursor: pointer; /* Иконка указателя */
    margin-right: 10px; /* Отступ между кнопками */
    margin-bottom: 20px;
    font-family: "Tenor Sans";
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}
  
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type="submit"] {
    background-color: #0162a7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #3e9fb2;
}

.form-block {
    display: block;
    width: 20%;
    align-content: center;
    justify-content: center;
    float: left;
    margin-inline: 20px;
    text-align: center;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#route-numbers {
    margin-bottom: 0;
    list-style: none;
    padding: 0;
}

#route-numbers > li {
    float: left;
}

#route-numbers > li > a {
    border-radius: 10px;
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-left: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 22px;
}

.stop-list ul {
    list-style-type: none;
    justify-content: center;
    position: relative;
    display: flex;
    font-size: larger;
}

.stop-list li {
    float: left;
}

.stop-list li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.bookmark-button {
    border: none; /* Убираем границу */
    color: white; /* Белый текст */
    padding: 10px 24px; /* Отступы внутри кнопки */
    cursor: pointer; /* Иконка указателя */
    margin-right: 10px; /* Отступ между кнопками */
    margin-bottom: 20px;
    font-family: "Tenor Sans";
    background-color: #0162a7;
}


.routes-admin {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.trip-table {
    display: flex;
    justify-content: center;
}