@font-face {
    font-family: "Montserrat Alternates";
    src: url("fonts/MontserratAlternates-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Tenor Sans";
    src: url("fonts/TenorSans-Regular.woff") format("woff");
  }

body {
    margin: 0;
    padding: 0;
    font-family: "Tenor Sans";
}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

footer {
    background-color: #0162a7;
    color:#feb500;
    font-family: "Montserrat Alternates";
    font-size: x-small;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.header {
    background-color: #0162a7;
    color:#feb500;
    font-family: "Montserrat Alternates";
    font-size: large;
    position: fixed;
    top: 0;
    width: 100%;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: #feb500;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header li a:hover {
    background-color: #3e9fb2;
}

.content {
    padding-top: 80px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.after-table-info {
    margin-bottom: 80px;
}

.days-nav button {
    border: none; /* Убираем границу */
    color: white; /* Белый текст */
    padding: 10px 24px; /* Отступы внутри кнопки */
    cursor: pointer; /* Иконка указателя */
    margin-right: 10px; /* Отступ между кнопками */
    margin-bottom: 20px;
    font-family: "Tenor Sans";
}

